// About Section
section#about.bg-primary.text-white.mb-0
  .container
    h2.text-center.text-uppercase.text-white About
    hr.star-light.mb-5
    .row
      .col-lg-4.ml-auto
        p.lead
          | Demo LyKnowledge Dashboard.
      .col-lg-4.mr-auto
        p.lead
          | Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
    .text-center.mt-4
      a.btn.btn-xl.btn-outline-light(href='https://github.com/', target="_blank")
        | Fork at GitHub
        br
        i.fa.fa-code-fork.mr-2
        i.fa.fa-github.mr-2
